@using GodlessBoard.Services;
@{

    string userName, displayName;
    
    if(!User.Identity.IsAuthenticated)
    {
        <a asp-page="/Account/Login">Login</a>
        <a asp-page="/Account/Register">Register</a>
    }
    else
    {
        Auth.ParseIdentityName(User.Identity.Name, out userName, out displayName);
        <label>Hello, @displayName</label>
        <form method="post" asp-page="/Account/Logout">
            <button type="submit">Logout</button>    
        </form>        
    }
}

