@using GodlessBoard.Services;
@{

    string userName, displayName;
    
    if(!User.Identity.IsAuthenticated)
    {
    <a asp-page="/Account/Login">Login</a>
    <a asp-page="/Account/Register">Register</a>
    }
    else
    {
        Auth.ParseIdentityName(User.Identity.Name, out userName, out displayName);
    <label>Hello, @displayName</label>
    <div style="width:30%;" class="bg-info rounded-circle">
            
    </div>
    <form method="post" asp-page="/Account/Logout">
                <button class="btn-secondary rounded" type="submit">Logout</button>    
    </form>        
    }
}

