@using GodlessBoard.Data
@using GodlessBoard.Models
@using GodlessBoard.Services
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Web
@using System.Net.Http.Headers
@inject IConfiguration Configuration
@inject MyDbContext DbContext
@inject IHttpContextAccessor HttpContextAcessor
@inject HttpClient client
@page "/"
<form><InputFile OnChange="UploadImage"/></form>
<label>@exception</label>
<button @onclick="@ChangeButtonText">@buttonText</button>
@code {
    string exception = string.Empty;
    private UploadResult uploadResult = new();
    public string buttonText { get; set; } = "buttonText";
    private void ChangeButtonText()
    {
        buttonText = "sas";
    }
    private async Task UploadImage(InputFileChangeEventArgs e)
    {/*
    var imageContent = new StreamContent(e.File.OpenReadStream());
    imageContent.Headers.ContentLength = e.File.Size;
    imageContent.Headers.ContentType = new MediaTypeHeaderValue(e.File.ContentType);
    imageContent.Headers.ContentEncoding.Add("UTF-8");
    try
    {
        await client.PostAsync("https://localhost:7119/MediaUpload", imageContent);
    }
    catch (Exception ex)
    {
        exception = ex.ToString();
    }
       */
        var fs = new FileStream(@"D:\pseudoroot\visualCodeProjects\prog\MediaFiles\Images\" + e.File.Name,FileMode.Create);
        await e.File.OpenReadStream().CopyToAsync(fs);
    }
}
