@using GodlessBoard.Data
@using GodlessBoard.Services
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Web
@inject IConfiguration Configuration
@inject MyDbContext DbContext
@inject IHttpContextAccessor HttpContextAcessor
@inject HttpClient client
@page "/"

<InputFile OnChange="UploadImage"/>
<button @onclick="@ChangeButtonText">@buttonText</button>
@code {
    public string buttonText { get; set; } = "buttonText";
    private void ChangeButtonText()
    {
        buttonText = "sas";
    }
    private async Task UploadImage(InputFileChangeEventArgs e)
    {
        try
        {
            var fileStream = e.File.OpenReadStream();
            var fileContent =  new StreamContent(fileStream);
     
        var response = 
                await client.PostAsync("https://localhost:7119/MediaUpload", 
                fileContent);
        }
        
        catch (Exception ex)
        {

            Console.Write(ex.ToString);
        }
       
        
    }
}
