@page
@model GodlessBoard.Pages.Account.IndexModel
@{
    if(User.Identity.IsAuthenticated)
    {
        <div>
            <h3>Your profile:</h3><a asp-page="/Account/Edit">Edit</a>
            <hr>
            <h5>Display name</h5>
            <label class="col-form-label" asp-for="@Model.CurrentUser.DisplayName"></label>
             @if(Model.CurrentUser.ProfilePicUrl != null){
                <img src="@(Model.CurrentUser.ProfilePicUrl)" height="100" width="100">
            }
            else
            {
                <img src="defaultUserPic.png" height="100" width="100">
            }

            <hr>
            <h5>Email/Login</h5>
                    <label class="col-form-label" asp-for="@Model.CurrentUser.UserName"></label>
            <hr>
            <h5>About me</h5>
                    <label class="col-form-label" asp-for="@Model.CurrentUser.Bio"></label>
            
        </div>       
    }
    else
    {
         <div>
            <h5>You are not logged in. Please log in existing account or register a new one!</h5>
            <a asp-page="/Account/Login">Log in</a>
            <a asp-page="/Account/Register">Register</a>
         </div>
    }
}
