
@using GodlessBoard.Data
@using GodlessBoard.Models
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Web
@inject MyDbContext _dbContext 

<textarea @bind="Input">@User.Bio</textarea>
<button class="btn-primary rounded" @onclick="@ChangeObjectAsync">@ButtonText</button>
@code {
    [Parameter]
    public User User { get; set; }
    public string ButtonText { get; set; } = "Submit";
    public string Input { get; set; }
    public async Task ChangeObjectAsync()
    {
        if (!string.IsNullOrEmpty(Input))
        {
            User.DisplayName = Input;
            _dbContext.Users.Where(x => x.Id == User.Id).Single().Bio = Input;
            _dbContext.SaveChanges();
        }
    }
}
