@using GodlessBoard.Data
@using GodlessBoard.Models
@using GodlessBoard.Services
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Web
@inject MyDbContext _dbContext
@inject MediaUploadRouter _mediaUpload
<div>
    <h6>@Header</h6>
    <img src="@imgUrl" height="200" width="200">
    <button @onclick="DeleteAsync" class="btn-secondary">Delete</button>
    
    <hr>
</div>
@code {
    [Parameter]
    public int ImageId { get; set; }
    public string Header { get; set; }
    public string imgUrl { get; set; }
    public async Task DeleteAsync()
    {
        var med = _dbContext.Media.Where(x => x.Id == ImageId).Single();
        _dbContext.Media.Remove(med);
        Header = med.UserDisplayName;
        imgUrl = med.Name;
        await _mediaUpload.DeleteAsync(med);
    }

    public async Task RenameAsync()
    {

    }
}
