@page
<h3>Media files managment</h3>
<div>
    <h5>Images</h5>
    @{
        foreach(var image in Model.Images)
        {
            
        }
    }
</div>
<div>
    <h5>Audios</h5>
    @{
        foreach(var audio in Model.Audios)
        {
            
        }
    }
</div>
@model GodlessBoard.Pages.MediaFiles.IndexModel
@{
}
