@using Blazor.Extensions
@using Blazor.Extensions.Canvas.Canvas2D
@using Blazor.Extensions.Canvas
@using GodlessBoard.GameModel
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Web

@{//<div id="BoardPreferencesToolbarContainer" >
    //<EditForm Model="Board.Grid">
    //<InputNumber @bind-Value="Board.Grid.Size">Grid resolution: </InputNumber>
    //<InputNumber @bind-Value="Board.Grid.LineWidth">Grid line width: </InputNumber>
    //</EditForm>
//</div>
}
<BECanvas @ref="_canvas" Height="@height" Width="@width"></BECanvas>
<label>Counter :@c</label>
<button class="btn btn-primary" @onclick = "OnClick">onclick</button>
<button class="btn btn-secondary" @onclick = "CanvasRenderAsync">Canvas render</button>
@code {
    public int height { get; set; }
    public int width { get; set; }
    public int c { get; set; } = 0;
    private BECanvasComponent _canvas;
    private Canvas2DContext _canvasContext;
    public Board Board { get; set; }
    [Parameter]
    public Models.Game Game { get; set; }
    public void OnClick()
    {
        c++;

    }
    public async void CanvasRenderAsync()
    {
        var game = Newtonsoft.Json.JsonConvert.DeserializeObject<GameModel.Game>(Game.JsonRepresentation);
        Board = game.Tabs[0];
        height = Board.Height;
        width = Board.Width;
        _canvasContext = await _canvas.CreateCanvas2DAsync();
        await GridRenderAsync();
        //await _canvasContext.FillRectAsync(0,0,20,20);
        //await _canvasContext.StrokeTextAsync("sosi jepu", 10, 100);
    }
    public async Task GridRenderAsync()
    {
         await _canvasContext.SetFillStyleAsync("gray");
        for(int i=0;i<=_canvas.Height;i+=Board.Grid.Size)
        {
            await _canvasContext.FillRectAsync(i, 0, Board.Grid.LineWidth, Board.Height);    
        }
        for(int i=0;i<=Board.Width;i+=Board.Grid.Size)
        {
            await _canvasContext.FillRectAsync(0, i, Board.Height, Board.Grid.LineWidth);    
        }
    }
}

