
@using GodlessBoard.GameModel
@using GodlessBoard.Models
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Web
@{<BoardComponent Board="@_currentBoard"></BoardComponent>
}
@{//<ChatComponent Chat="@Chat"></ChatComponent>
}

@{
    if(_isOpen)
    {
        foreach(var b in Game.Tabs)
        {
            <button class="btn btn-toolbar">@b.Name</button>
        }
            <button class="btn btn-toolbar">Create new board</button>
    }
    else
    {
            <button @onclick="OpenDialog" class="btn btn-secondary">open tabs menu</button>
    }
}

@code {

    [Parameter]
    public GameModel.Game Game { get; set; } 
    
    private Board _currentBoard;
    private bool _isOpen { get; set; }
    protected override void OnInitialized()
    {
        _currentBoard = Game.Tabs[0];
        
    }
    private void OpenDialog()
    {
        _isOpen = !_isOpen;
    }
}
