@page
@using GodlessBoard.Components
@model GodlessBoard.Pages.Games.PlayModel

<head></head>
<base href="/"/>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/GodlessBoard.styles.css" asp-append-version="true" />
@{
    Layout = null;
    ViewData["Title"] = "Home page";
    if(Model.CurrentGame == null)
    {
    <label>Game load error</label>    
    }
    else 
    {
        if(User.Identity.IsAuthenticated)
        {
            <div id="Container">
                <div id="BoardContainer">
                    <component type="typeof(BoardComponent)" param-GameId="@Model.CurrentGame.Id" render-mode="ServerPrerendered"/>
                </div>
                <div id="ChatContainer">    
                    <component style="height:100%;" type="typeof(ChatComponent)"  param-GameId="@Model.CurrentGame.Id" param-UserId="@Model.CurrentUser.Id"  render-mode="ServerPrerendered"/>
                </div>                            
            </div>
        }
        else
        {
    <label>Please consider authorization</label>
        }
    }
 
}
<script src="_content/Blazor.Extensions.Canvas/blazor.extensions.canvas.js"></script>
<script src="_framework/blazor.server.js"></script>    
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
