@page

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>index</head>
<base href="/"/>
<div class="text-center">
    <img src="/MediaFiles/Images/asbvk0shns3.jpg" />
</div>
<script src="/_framework/blazor.webassembly.js"></script>
<script src="/_framework/aspnetcore-browser-refresh.js"></script>