@page 

@model IndexModel
<head></head>
<base href="/"/>
@{
    
    <h1>Site is in development</h1>
 
}

<script src="_content/Blazor.Extensions.Canvas/blazor.extensions.canvas.js"></script>
<script src="_framework/blazor.webassembly.js"></script>
<script src="/_framework/aspnetcore-browser-refresh.js"></script>