@page 
@using GodlessBoard.Components

@model IndexModel
<head></head>
<base href="/"/>
@{
    if(Model.TestGenericGame == null)
    {
    <label>Game load error</label>    
    }
    else 
    {
        if(User.Identity.IsAuthenticated)
        {
          //  <component type="typeof(ChatComponent)" param-Chat="@Model.TestGenericChat" render-mode="ServerPrerendered"/>
        }
        else
        {
    <label>Please consider authorization</label>
        }
    }
 
}

<script src="_content/Blazor.Extensions.Canvas/blazor.extensions.canvas.js"></script>
<script src="_framework/blazor.webassembly.js"></script>
<script src="/_framework/aspnetcore-browser-refresh.js"></script>